@import "var";

/////////////////////////
// Fenêtre des groupes //
/////////////////////////

#my_groups {
	display: none;

	#modal_wrapper
	{
		position: fixed;
		z-index: 578;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: $modal_wrapper_background;

		#groups_modal_box
		{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 5px;
			background: $secondary_background_color;
			padding: 2em;
			width: 50em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			max-width: 90%;

			h1 {
				font-size: 30px;
				margin-bottom: 30px;
			}

			.close_modal_link
			{
				position: absolute;
				top: -0.5em;
				right: -0.5em;
				font-weight: bold;
				font-size: 1.5em;
			}

			.group_modal_section_title {
				font-weight: bold;
			}

			#search_groups_form {
				margin-top: 20px;
			}

			#autocomplete_field_and_menu {
				display: inline-block;
			}

			#requested_groups {
				list-style: none;
				padding-left: 0;
				margin-top: 10px;
			}

			#create_new_group {
				margin-top: 30px;
			}

			#current_join_requests {
				text-align: center;
			}
		}
	}
}